<h1>Home</h1>
<ul>
	<li><%= link_to "About me", static_pages_about_me_path %></li>
	<li><%= link_to "Surprise", static_pages_surprise_path %></li>
	<li><%= link_to "Help", static_pages_help_path %></li>
</ul>